<a href="https://colab.research.google.com/github/lblum95/AML/blob/master/task0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive

drive.mount('/content/drive')
%cd /content/drive/My Drive/Colab Notebooks/AML/task0
!git checkout yb-t0

Mounted at /content/drive
/content/drive/My Drive/Colab Notebooks/AML/task0
M	task0/task0.ipynb
Already on 'yb-t0'
Your branch is up to date with 'origin/yb-t0'.

In [3]:
import pandas as pd

pd.read_csv('sample.csv')

         Id       y
0     10000  2000.0
1     10001  2001.0
2     10002  2002.0
3     10003  2003.0
4     10004  2004.0
...     ...     ...
1995  11995  3995.0
1996  11996  3996.0
1997  11997  3997.0
1998  11998  3998.0
1999  11999  3999.0

[2000 rows x 2 columns]