<a href="https://colab.research.google.com/github/lblum95/AML/blob/master/task1/task1%20-%20Luca.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd

x_train = pd.read_csv("data/X_train.csv",index_col=0,header = 0)
y_train = pd.read_csv("data/y_train.csv",index_col=0,header = 0)
x_test = pd.read_csv("data/X_test.csv",index_col=0,header = 0)

#count #NaN's in every row
print("NaN's in rows of x_train:")
print(x_train.isna().sum(axis=1).sort_values(ascending=True))

#count #NaN's in every col
print("NaN's in columns of x_train:")
print(x_train.isna().sum(axis=0).sort_values(ascending=True))

#count #NaN's in every row
print("NaN's in y_train:")
print(y_train.isna().sum(axis=1).sort_values(ascending=True))

#count #NaN's in every row
print("NaN's in rows of x_test:")
print(x_test.isna().sum(axis=1).sort_values(ascending=True))

#count #NaN's in every col
print("NaN's in columns of x_test:")
print(x_test.isna().sum(axis=0).sort_values(ascending=True))

NaN's in rows of x_train:
id
1118.0    41
514.0     42
753.0     42
429.0     42
998.0     43
          ..
1172.0    83
825.0     84
1127.0    84
929.0     86
725.0     88
Length: 1212, dtype: int64
NaN's in columns of x_train:
x522     65
x694     67
x638     67
x16      67
x673     69
       ...
x90     121
x669    122
x701    124
x546    124
x208    125
Length: 832, dtype: int64
NaN's in y_train:
id
0.0       0
811.0     0
810.0     0
809.0     0
808.0     0
         ..
401.0     0
400.0     0
399.0     0
397.0     0
1211.0    0
Length: 1212, dtype: int64
NaN's in rows of x_test:
id
559.0    30
640.0    32
35.0     32
393.0    34
107.0    34
         ..
72.0     71
633.0    71
449.0    73
170.0    73
508.0    79
Length: 776, dtype: int64
NaN's in columns of x_test:
x804    26
x267    28
x159    31
x643    32
x520    32
        ..
x42     67
x366    68
x727    69
x22     70
x525    72
Length: 832, dtype: int64